
<main>

  <header>

    <h3>
      <img class="logo" src="assets/images/icon.png" alt="">
      <sup>Clone</sup>
    </h3>

    <button type="button" id="resources-button" (click)="openResourcesDialog()" >
      <i class="fas fa-file-alt"></i>
        Resources
    </button>

  </header>

  <div class="mobile-editor-picker">

    <button type="button" [ngClass]="{'selected' : mobileEditorPicker == 'html'}"  (click)="mobileEditorPicker = 'html'" >HTML</button>
    <button type="button" [ngClass]="{'selected' : mobileEditorPicker == 'css'}" (click)="mobileEditorPicker = 'css'" >CSS</button>
    <button type="button" [ngClass]="{'selected' : mobileEditorPicker == 'javascript'}" (click)="mobileEditorPicker = 'javascript'" >JAVASCRIPT</button>

  </div>

  <div class="code-editors-container">

    <div class="vertical-divider"></div>

    <app-code-editor mode="html" [ngClass]="{'selected' : mobileEditorPicker == 'html'}" ></app-code-editor>

    <div class="vertical-divider"></div>

    <app-code-editor mode="css" [ngClass]="{'selected' : mobileEditorPicker == 'css'}" ></app-code-editor>

    <div class="vertical-divider" ></div>

    <app-code-editor mode="javascript" [ngClass]="{'selected' : mobileEditorPicker == 'javascript'}" ></app-code-editor>

  </div>

  <div class="horizondal-divider"></div>

  <div class="iframe-container">

    <iframe id="output"
      [app-srcdoc]="iframeContent"
      >

    </iframe>

  </div>

  <app-external-resources  ></app-external-resources>

</main>
